body {
    background: #23a6d5; /* fallback for old browsers */
    background: -webkit-linear-gradient(-45deg, #ff3981, #ffafcc, #23a6d5, #23d5ab); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-45deg, #ff3981, #ffafcc, #23a6d5, #23d5ab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*
    Hero
*/

.box {
    max-width: 30rem;
    margin: auto;
}

.box a {
    color: #23a6d5;
}

.box a:hover {
    color: #ff3981;
}

.hero-body {
    z-index: 2;
}

.btns .button {
    background-color: #CDB4DB;
    margin: 0.2rem;
}

.btns .button:hover {
    border: 2px solid #ff3981;
}

.btns a {
    color: black;
}

.btns img {
    width: 100%;
    height: 100%;
}

#image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 4px solid #CDB4DB;
    box-shadow: 0px 0px 15px rgba(255, 200, 221, 0.75);
    margin: 1rem auto 1rem auto;
}

/*
    Navbar
*/

.navbar {
    width: 100%;
    border: 4px solid #CDB4DB;
    box-shadow: 0px 0px 15px rgba(255, 200, 221, 0.75);
    z-index: 2;
    box-sizing: border-box;
}

.navbar a {
    font-size: 1.5rem;
}

.navbar-logo {
    translate: 0.8rem 0.25rem;
    width: 2.75rem;
    height: 2.75rem;
}

#statuscafe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: #CDB4DB 4px solid;
    box-shadow: 0px 0px 15px rgba(255, 200, 221, 0.75);
    border-radius: 0.5rem;
}

#statuscafe-username {
    margin: 0rem 1rem 0.2rem 1rem;
    font-size: 0.8rem;
}

#statuscafe-username a {
    font-size: 1rem;
}

#statuscafe-content {
    font-size: 0.9rem;
    margin: 0 1rem 0 0;
}

#statuscafe-mobile {
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    translate: -0.3rem 0.3rem;
    border: #CDB4DB 4px solid;
    box-shadow: 0px 0px 15px rgba(255, 200, 221, 0.75);
    border-radius: 0.5rem;
}

#statuscafe-mobile-username {
    font-size: 0.7rem;
}

#statuscafe-mobile-username a {
    font-size: 0.7rem;
}

#statuscafe-mobile-content {
    margin: 0 1rem 0 1rem;
    font-size: 0.75rem;
}

/* 
    Carousel 
*/

.carousel-container {
    position: fixed;
    top: 6.5%;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.carousel img {
    max-width: auto;
    max-height: 25vh;
    object-fit: cover;
    margin: 1.5rem auto 1.5rem auto;
}

.carousel video {
    max-width: auto;
    max-height: 25vh;
    object-fit: cover;
    margin: 1.5rem auto 1.5rem auto;
}

.slick-slide {
    padding: 0 1rem;
}

.slick-track {
    display: flex;
}
