/*
    Fonts
*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/static/fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Latin characters */
@font-face {
    font-family: 'Arbutus Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/fonts/oY1Z8e7OuLXkJGbXtr5ba7ZlbKUc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Latin extended characters */
@font-face {
    font-family: 'Arbutus Slab';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/fonts/oY1Z8e7OuLXkJGbXtr5ba7ZlYqUcFlY.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
    min-height: 100%;
    background: #23a6d5; /* fallback for old browsers */
    background: -webkit-linear-gradient(-45deg, #ff3981, #ffafcc, #23a6d5, #23d5ab); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(-45deg, #ff3981, #ffafcc, #23a6d5, #23d5ab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.is-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*
    Navbar
*/

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
    box-shadow: 0px 0px 15px rgba(255, 200, 221, 0.75);
    z-index: 2;
    box-sizing: border-box;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 1rem;
}

.navbar-container .navbar-left, .navbar-container .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-container .navbar-left .navbar-logo {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.navbar-container .navbar-left .navbar-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.navbar-container .navbar-right .navbar-item {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: #23a6d5;
    margin-left: 1rem;
    text-decoration: none;
}

/*
    Content
*/

.content-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 2;
}

.content-box {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.5rem 3rem 0.5rem 3rem;
    background-color: #BDE0FE;
    border: 4px solid #CDB4DB;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255, 200, 221, 0.75);
    z-index: 2;
}

@media (min-height: 768px) {
    .content-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: calc(100% - 5rem - 5rem - 2.5rem);
    }
}

.content-box h1 {
    font-family: 'Arbutus Slab', serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: -0.5rem;
}

.content-box p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.content-box a {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #23a6d5;
    text-decoration: none;
}

.content-box a:hover {
    color: #ff3981;
}

/* 
    Carousel 
*/

.carousel-container {
    position: fixed;
    top: 6%;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.carousel img {
    max-width: auto;
    max-height: 25vh;
    object-fit: cover;
    margin: 1.5rem auto 1.5rem auto;
}

.slick-slide {
    padding: 0 1rem;
}

.slick-track {
    display: flex;
}

@media (max-height: 767px) {
    .content-container {
        position: absolute;
        top: 6.5rem;
        left: 50%;
        transform: translateX(-50%);
        height: calc(100% - 5rem - 5rem -rem);
    }
}

@media (max-height: calc(100vh - 5rem)) {
    .content-container {
      position: static;
      height: auto;
    }
    .content-box {
      position: relative;
      transform: none;
      margin: 2rem auto;
    }
}